In [1]:
2+2

4

### This is a markdown cell, notes for me!

In [2]:
x = 'string'

In [3]:
x

'string'

In [4]:
x.upper()

'STRING'

In [5]:
1

1

In [6]:
1.0

1.0

In [7]:
type(1)

int

In [8]:
type(1.0)

float

In [9]:
1/2

0.5

In [10]:
2**4

16

In [11]:
4%2

0

In [12]:
5 % 2

1

In [13]:
2 + 3 * 5 + 5

22

In [14]:
(2 + 3) * (5 + 5)

50

In [15]:
name_of_var = 2

In [16]:
x = 1
y = 2

In [17]:
x + y

3

In [18]:
'string'

'string'

In [19]:
"double"

'double'

In [20]:
print("hello")

hello

In [21]:
"hello"

'hello'

In [22]:
print(f"x={x}, y={y}")

x=1, y=2

In [23]:
mylist = [1,2,3]

In [24]:
['a',1, 'b', True, 3.8]

['a', 1, 'b', True, 3.8]

In [25]:
mylist[0] = 'NEW'

In [26]:
mylist[-1]

3

In [27]:
mylist

['NEW', 2, 3]

In [28]:
mylist.append('Rish')

In [29]:
mylist

['NEW', 2, 3, 'Rish']

In [30]:
d = {'k1':'v1', 'k2':'v2'}

In [31]:
d['k1']

'v1'

In [32]:
d

{'k1': 'v1', 'k2': 'v2'}

In [33]:
True

True

In [34]:
False

False

In [35]:
tup = (1,2,3)

In [36]:
myset = {1,2,3}

In [37]:
1 > 2

False

In [38]:
1 <= 4

True

In [39]:
(1 == 1) and ('a' == "a")

True

In [40]:
(1 == 2) or ('a' == "a")

True

In [41]:
if 1==1:
  print("yeah!")

yeah!

In [42]:
if 1==2:
  print("yeah!")
elif 3==3:
  print("nice")
else:
  print("nope")

nice

In [43]:
seq = [1,2,3,4,5]

In [44]:
for jelly in seq:
  print(jelly)

1
2
3
4
5

In [45]:
i = 1
while i < 5:
  print(f'i is {i}')
  i = i+1

i is 1
i is 2
i is 3
i is 4

In [46]:
range(5)

range(0, 5)

In [47]:
list(range(5))

[0, 1, 2, 3, 4]

In [48]:
list(range(2,6))

[2, 3, 4, 5]

In [49]:
for x in range(5):
  print(x)

0
1
2
3
4

In [50]:
out = []
for num in range(5):
  out.append(num**2)

print(out)

[0, 1, 4, 9, 16]

In [51]:
[ x**2 for x in range(5) ]

[0, 1, 4, 9, 16]

In [57]:
def my_func(name='no name'):
  print('hello ' + name)

In [56]:
my_func("Jose")

hello Jose

In [58]:
my_func()

hello no name

In [60]:
def square(x):
  return x**2

In [61]:
square(5)

25

In [62]:
lambda var: var*2

In [63]:
st = 'My name is Anothony'

In [64]:
st.lower()

'my name is anothony'

In [65]:
st.upper()

'MY NAME IS ANOTHONY'

In [66]:
st.split()

['My', 'name', 'is', 'Anothony']

In [67]:
tweet = 'Hello #sports'

In [68]:
tweet.split('#')

['Hello ', 'sports']

In [69]:
tweet.split('#')[-1]

'sports'

In [70]:
d = {'k1':'v1', 'k2':'v2'}

In [71]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [72]:
d.keys()

dict_keys(['k1', 'k2'])

In [73]:
d.values()

dict_values(['v1', 'v2'])

In [74]:
mylist = [1,2,3]

In [75]:
last = mylist.pop()

In [76]:
mylist

[1, 2]

In [77]:
mylist.append(3)

In [78]:
'x' in [1,2,3]

False